body {
  background-color: rgb(255, 255, 254);
  padding: 1px 1px;
}
.navigation_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}
.nav_picture_and_title_ {
  display: flex;
  gap: 10px;
  align-items: center;
}

div > ul {
  display: flex;
}

div li {
  list-style: none;
  color: black;
  margin-right: 30px;
}

div li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav_title {
  font-size: 30px;
}

.banner {
  /* background-image: url("/Images/Group 13 (1) (1).png"); */
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");

  /* url("./Images/Group 13 (1) (1).png"); */

  background-repeat: no-repeat;
  margin-left: 100px;
  width: 83%;
  height: 480px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  /* top: ; */
  /* align-items: center; */
  /* padding: 0px 60px; */
}

.content {
  color: #fff;

  /* font-family: Mulish; */

  font-style: normal;

  line-height: normal;
}
.title {
  color: azure;
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 110px;
  font-weight: 800;
  position: relative;
}

.p {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 130px;
  /* white-space: pre-wrap 20px; */
  color: #fff;
  position: relative;
  left: 10px;
  display: block;

  text-align: center;
}

.button {
  display: flex;
  background-color: #f9f9f95d;
  width: 73.5%;
  color: rgb(252, 251, 245);
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0px 10px 40px;
  height: 35px;
  position: relative;
  left: 100px;
  gap: 50px;
  border: 2px solid rgba(45, 13, 2, 0.617);
  margin-top: 50px;
  align-items: center;
}

.button input {
  padding: 10px;
}

.btn {
  width: 110px;
  background-color: #f44c0a;
  border-radius: 10px;
  align-items: center;
  padding: 2px;

  height: 35px;
}
.bbbb {
  background-color: #f44c0a;
  color: aliceblue;
  border: #f44c0a;
  padding: 8px;
  align-items: center;
}

#icon {
  margin-bottom: 20px;
  font-size: 12px;
  position: relative;
  right: 3px;
}
.t {
  color: #070211;
}

.section_one {
  margin-top: 50px;
  background-color: #f9f5f336;
  width: 73.5%;
  height: 480px;
  margin-left: 100px;
  width: 83%;
  border-radius: 10px;
  padding: 0px;
}
.content_and_button {
  padding: 70px;
  display: flex;
  margin-left: -160px;
  word-wrap: break-word;
}
.titlez {
  position: relative;
  justify-content: center;
  margin-left: 50px;
  bottom: -80px;
  /* left: 200px; */
}
/* .section_one {
  display: flex;
} */
.imagez img {
  width: 100%;
  height: 350px;
  position: relative;
  left: 70px;
  /* margin-right: 70px; */
  margin-top: -30px;
}
.ppp {
  word-wrap: break-word;
  position: relative;
  margin-left: 140px;
  /* left: 130px; */
}

.read_more_btn {
  padding: 10px;
  width: 100px;
  background-color: #f44c0a;
  border-radius: 10px;
  align-items: center;
  padding: 4px;
  height: 35px;
  margin-top: 40px;
}
.rrr {
  background-color: #f44c0a;
  border: #f44c0a;
  padding: 9px;
  position: relative;
  left: 10px;
}

.section_tow {
  margin-top: 50px;
  background-color: #fbf7f700;
  width: 73.5%;
  height: auto;
  margin-left: 100px;
  width: 83%;
  border-radius: 10px;
  padding: 0px;
}

.mal img {
  width: 450px;
  /* height:; */
}
.indo img {
  width: 400px;
  height: 100;
  margin-left: 100px;
}
.picture {
  display: flex;
  padding: 40px;
  grid-template-rows: repeat(2, 1fr);
}

.section_three {
  margin-top: 50px;
  background-color: #edebe900;
  width: 73.5%;
  height: 720px;
  margin-left: 100px;
  width: 83%;
  border-radius: 10px;
  padding: 0px;
}

.de {
  align-items: center;
}
.head_blog {
  padding: 30px;
}

.cartek {
  margin-top: 20px;
  /* border: 1px solid rgb(6, 2, 17); */
  padding: 6px 20px;
}
.cartek img {
  padding-left: 40px;
  width: 50px;
  height: 20;
  margin-top: 50px;
  position: relative;
  left: 90px;
}
.cartdui {
  /* border: 1px solid rgb(6, 1, 23); */
  padding: 20px 20px;
  margin-top: 20px;
}
.cartdui img {
  width: 80px;
  height: 40;
  position: relative;
  left: 90px;
}

.duita_cart_er_malik {
  display: flex;
  justify-content: space-between;
}
.chose {
  position: relative;
  left: 440px;
  font: 50px;
  font-size: 30px;
}
.carttni img {
  width: 80px;
  height: 40;
  position: relative;
  left: 160px;
}
.carttni {
  /* border: 3px solid rgb(1, 0, 5); */
  padding: 10px 10px;
  /* border: 1px solid; */
  width: 430px;
  position: relative;
  left: 370px;
  margin-top: 35px;
}
.blog {
  margin-bottom: 20px;
}

.footer{
  margin-top: 50px;
  background-color: #e2566015;
  width: 93.5%;
  height: 420px;
  margin-left: 100px;
  /* width: 83%; */
  border-radius: 10px;
  padding: 0px;

}

.headd{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  bottom: -80px;

}
.matha{
  font-size: 30px;
}
.write{
  position: relative;
  bottom: -80px;
  padding-left: 100px;
}
.momo img{
  width: 20px;
  position: relative;
  bottom: -150px;
  left: 560px;
}
.momo {
  justify-content:space-between;
}
.konkonicon{
  justify-content:space-between;
  position: relative;
  top: 0px;
  left: -500px;

}

.year{
  position: relative;
  bottom: -200px;
  padding-left: 520px;
}
.lasty{
  margin-top: 50px;
  background-color: #fefcfb00;
  width: 73.5%;
  height: 720px;
  margin-left: 100px;
  width: 83%;
  border-radius: 10px;
  padding: 0px;
  padding: 30px;
  display: flex;
}
.form{
  border:  1px solid orangered;
  width: 300px;
  padding: 30px;
  height: 250px;
}
.picture img{
  width: 350px;
  height: 350px;
  margin-left: 300px;
  margin-top: 20px;
  position: relative;
  top: -60px;
}

.disz{
  position: relative;
  top: 300px;
  left: -860px;
  top: -30px;
  
}

}



@media screen and (max-width: 576px) {
  .navigation_bar {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    position: relative;
    left: -70px;
    width: 85%;
    /* height: autopx; */
  }
  .title {
    color: rgb(240, 231, 233);
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: relative;
    top: 20px;
    font-weight: 800;
  }
  .p {
    color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    top: 20px;
    margin: 20px;
    /* white-space: pre-wrap 20px; */
    color: #fff;
    position: relative;
    left: 13px;
    /* font-size: 10px; */
  }
  .button {
    background-color: #f4f2ee3a;
    /* width: 73.5%; */
    flex-direction: column;
    gap: 15px;
    /* grid-template-columns: repeat(1fr); */
    position: relative;
    left: 14px;
    top: -10px;
    /* width: 83%; */
    height: 220px;
    padding-top: 20px;
  }
  .button input {
    padding: 13px;
    width: 200px;
    margin-left: -37px;
  }
  .btn {
    width: 225px;
    background-color: #f44c0a;
    border-radius: 5px;
    align-items: center;
    padding: 2px;
    margin-left: -37px;
    cursor: pointer;

    height: 35.5px;
  }
  .section_one {
    flex-direction: column;
    position: relative;
    left: -70px;
    height: 1080px;
  }
  .imagez img {
    width: 100%;
    grid-template-columns: repeat(1fr);

    width: 320%;
    height: 350px;
    position: relative;
    left: -200px;
    margin-right: 5px;
    margin-top: 600px;
  }
  .tnd_pic {
    display: flex;
  }

  .read_more_btn {
    /* font-size: 70px; */
  }
  /* .ppp{
    font-size: 20px;

  } */

  .head_blog {
    padding: 30px;
  }
  .section_three {
    margin-top: 50px;
    background-color: #edebe900;
    width: 73.5%;
    height: 720px;
    margin-left: 100px;
    width: 83%;
    border-radius: 10px;
    padding: 0px;
  }
  
  .de {
    align-items: center;
  }
  .head_blog {
    padding: 30px;
  }
  
  .cartek {
    margin-top: 20px;
    /* border: 1px solid rgb(6, 2, 17); */
    padding: 6px 20px;
  }
  .cartek img {
    padding-left: 40px;
    width: 50px;
    height: 20;
    margin-top: 50px;
    position: relative;
    left: 90px;
  }
  .cartdui {
    /* border: 1px solid rgb(6, 1, 23); */
    padding: 20px 20px;
    margin-top: 20px;
  }
  .cartdui img {
    width: 80px;
    height: 40;
    position: relative;
    left: 90px;
  }
  
  .duita_cart_er_malik {
    display: flex;
    justify-content: space-between;
  }
  .chose {
    position: relative;
    left: 440px;
    font: 50px;
    font-size: 30px;
  }
  .carttni img {
    width: 80px;
    height: 40;
    position: relative;
    left: 160px;
  }
  .carttni {
    /* border: 3px solid rgb(1, 0, 5); */
    padding: 10px 10px;
    /* border: 1px solid; */
    width: 430px;
    position: relative;
    left: 370px;
    margin-top: 35px;
  }

  .de {
    align-items: center;
    flex-direction: column;
    
  }
  
  .head_blog {
    padding: 30px;
    flex-direction: column;
  
  .cartek {
    margin-top: 20px;
    /* border: 1px solid rgb(6, 2, 17); */
    padding: 6px 20px;
    flex-direction: column;
  }
  .cartek img {
    padding-left: 40px;
    width: 50px;
    height: 20;
    margin-top: 50px;
    position: relative;
    left: 90px;
    flex-direction: column;
  }
  .cartdui {
    /* border: 1px solid rgb(6, 1, 23); */
    padding: 20px 20px;
    margin-top: 20px;
    flex-direction: column;
  }
  .cartdui img {
    width: 80px;
    height: 40;
    position: relative;
    left: 90px;
    flex-direction: column;
  }
  
  .duita_cart_er_malik {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .chose {

    right: -100px;
    /* right: -440px; */
    font: 50px;
    font-size: 30px;
    flex-direction: column;
  }
  .carttni img {
    width: 80px;
    height: 40;
    position: relative;
    left: 160px;
    flex-direction: column;
  }
  .carttni {
    /* border: 3px solid rgb(1, 0, 5); */
    padding: 10px 10px;
    /* border: 1px solid; */
    width: 430px;
    position: relative;
    left: -1px;
    margin-top: 35px;
    flex-direction: column;
    margin-top :-900px;
  }
  .blog {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .matha{
    font-size: 30px;
  }
  .write{
    position: relative;
    bottom: -80px;
    padding-left: --100px;
    margin-top: 30px;
    
  }
  .momo img{
    width: 20px;
    position: relative;
    bottom: -10px;
    left: 560px;
    position: relative;
    bottom: -500px;
    padding-left: 520px;
  }
  }
  .momo {
    justify-content:space-between;
    position: relative;
    bottom: -500px;
    padding-left: 520px;
  }
  }
  .konkonicon{
    justify-content:space-between;
    position: relative;
    bottom: -500px;
    padding-left: 520px;
  }
  }
  
  .year{
    position: relative;
    bottom: -500px;
    padding-left: 520px;
  }
 




}




