body {
  background-color: rgb(244, 242, 238);
  padding: 1px 1px;
}
.navigation_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}
.nav_picture_and_title_ {
  display: flex;
  gap: 10px;
  align-items: center;
}

div > ul {
  display: flex;
}

div li {
  list-style: none;
  color: black;
  margin-right: 30px;
}

div li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav_title {
  font-size: 30px;
}

.banner {
  /* background-image: url("/Images/Group 13 (1) (1).png"); */
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/Images/Group 13 (1) (1).png");

  background-repeat: no-repeat;
  margin-left: 100px;
  width: 83%;
  height: 480px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  /* top: ; */
  /* align-items: center; */
  /* padding: 0px 60px; */
}

.content {
  color: #fff;

  /* font-family: Mulish; */

  font-style: normal;

  line-height: normal;
}
.title {
  color: azure;
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 110px;
  font-weight: 800;
  position: relative;
}

.p {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 130px;
  /* white-space: pre-wrap 20px; */
  color: #fff;
  position: relative;
  left: 10px;
  display: block;

  text-align: center;
}

.button {
  display: flex;
  background-color: #f7f3ee5d;
  width: 73.5%;
  color: rgb(252, 251, 245);
  font-size: 20px;
  font-weight: 200;
  padding: 10px 0px 10px 40px;
  height: 35px;
  position: relative;
  left: 100px;
  gap: 50px;
  border: 2px solid rgba(45, 13, 2, 0.617);
  margin-top: 50px;
  align-items: center;
}

.button input {
  padding: 10px;
}

.btn {
  width: 110px;
  background-color: #f44c0a;
  border-radius: 10px;
  align-items: center;
  padding: 2px;

  height: 35px;
}
.bbbb {
  background-color: #f44c0a;
  color: aliceblue;
  border: #f44c0a;
  padding: 8px;
  align-items: center;
}

#icon {
  margin-bottom: 20px;
  font-size: 12px;
  position: relative;
  right: 3px;
}

@media screen and (max-width: 576px) {
  .navigation_bar {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    position: relative;
    left: -70px;
    width: 85%;
    /* height: autopx; */
  }
  .title {
    color: rgb(240, 231, 233);
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: relative;
    top: 20px;
    font-weight: 800;
  }
  .p {
    color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    top: 20px;
    margin: 20px;
    /* white-space: pre-wrap 20px; */
    color: #fff;
    position: relative;
    left: 13px;
    /* font-size: 10px; */
  }
  .button {
    background-color: #f7f3ee3a;
    /* width: 73.5%; */
    flex-direction: column;
    gap: 15px;
    /* grid-template-columns: repeat(1fr); */
    position: relative;
    left: 14px;
    top: -10px;
    /* width: 83%; */
    height: 220px;
    padding-top: 20px;
  }
  .button input {
    padding: 13px;
    width: 200px;
    margin-left: -37px;
  }
  .btn {
    width: 225px;
    background-color: #f44c0a;
    border-radius: 5px;
    align-items: center;
    padding: 2px;
    margin-left: -37px;

    height: 35px;
  }
}
